html {

    box-sizing: border-box;
}
*,
*::before,
*::after
{
box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.02em;
    background-color: #E5E5E5;
    margin: 0;
}

    img {
    display: block;
    max-width: 100%;
    height: auto;
    }

a {text-decoration: none;
        }
ul {list-style-type: none;

}

ul, h1, h2, h3, p {
margin: 0px;
padding: 0px;
}

:root {
 --brand-color:#555555;
 --secodary-color:#9DA4BD;
}

.container {
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;
width: 1200px;
border: #000000;


}

.section {
padding-top: 120px;
padding-bottom: 120px;
}


/* хедер */

.header-container{
display: flex;
align-items: center;
}
.header {
padding-top: 32px;
position: absolute;
width: 100%;
}
.header-list {
display: flex;

}
.head-list:not(:first-child) {
    margin-left: 30px;}

.list-head {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.tel-header {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;

}

.header-logo {
width: 70px;
    height: 60px;
    fill: rgba(48, 48, 48, 1);
    display: block;
    margin-right: 130px;
}

.button-header{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
margin-right: 20px;
margin-left: 40px;
background: none;
color: #FFFFFF;
padding: 12px 20px;
}

.button-header:focus,
.button-header:hover {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
margin-right: 20px;
margin-left: 40px;
background: #FF6C00;
color: #FFFFFF;
padding: 12px 20px;
}

.follow {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
}
.contacts-wrap{
margin-left: auto;


}
.image {
max-width: 1070px;
height: 680px;
    padding-top: px;
    padding-bottom:px;
    margin-left: 315px;
    margin-right: 215px;

    background-image: url(../images/Slider1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

/* hero */
.hero-container {
display: flex;
}

.follow {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
}

h1{
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
display: flex;
text-align: center;
align-items: center;

}

.hero-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 1.13;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-top: 20px;
margin-bottom: 20px;
}

.hero-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;

}

.hero-menu {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: right;
letter-spacing: 0.1em;
color: #FFFFFF;

}

.hero-back:not(:first-child){
margin-right: 20px;
margin-left: 64px;

}

.hero-menu::after{
content: "";
width: 60px;
height: 1px;
background-color: rgba(255, 255, 255, 1);
display: block;
margin-top: 8px;

}

.hero-social::before {
content: "";
width: 60px;
height: 1px;
background-color: #303030;

}

.hero-header::before {
content: "";
width: 60px;
height: 1px;
margin-right: 20px;
background: rgba(157, 164, 189, 0.6);
}

.social-item:not(:first-child) {
    margin-left: 10px;
}

.hero-wrapper{
padding: 272px 0 208px 100px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/Slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  
}

.hero-social{
display: flex;
transform: rotate(-90deg) translatey(100%);
transform-origin: bottom left;
align-items: center;
gap: 40px;

}

.hero-back-menu {
  display: flex;
}

.hero-menu-but {
display: flex;
justify-content: flex-end;
position: relative;
transform: translateY(159px);
}

.hero-social-wrap {
    width: 90px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
}
.list-head:hover,
.tel-header:hover,
.follow:hover {
  color:#FF6C00;

}

.list-head:focus,
.tel-header:focus,
.follow:focus {
  color:#FF6C00;

}


/*about*/
.foto-wrapper {
display: flex;



}
.about-wrapper{
display: flex;
flex-wrap:wrap ;
margin-right: 100px; ;
}
.image-about {
display: block;
margin-right: 20px;
}


.header-about {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
margin-bottom: 20px;
margin-right: 100px;
display: flex;
text-align: center;
align-items: center;

}

.header-about::before{
content: "";
width: 60px;
height: 1px;
background-color: #303030;
margin-right: 20px;
}


.best {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #303030;
margin-bottom: 20px;
}

.about-first {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 20px;
}

.about-second {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.85;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 42px;
}

.button-booking {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
padding: 12px 20px;
background: none;
color: #303030;

}
.button-booking:hover,
.button-booking:focus {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
padding: 12px 20px;
background: #FF6C00;
color: rgba(255, 255, 255, 1)
;

}



/* price */

.list-wrapper {
display: flex;
margin-bottom: 44px;

}

.section-prise{
  max-width: 1920px;
  margin: 0 auto;
  background-color: black;
  background-image: url(../images/img.png), linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.prices-item {
display: flex;
justify-content: space-between;
align-items: baseline;
}
.prices-item::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    margin: 0 12px;
    background: rgba(157, 164, 189, 0.12);
}
.prices-item-text:last-child {
order: 1;
}

.prices-item:not(:last-child){
margin-bottom: 30px;
}

.price-list {
width: calc((100%-30px) / 2);
padding: 30px 20px;

}
.price-list:first-child {
  margin-right: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-header {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
margin-bottom: 20px;
display: flex;
align-items: center;

}
.price-header::before{
content: "";
width: 60px;
height: 1px;
background-color: rgba(157, 164, 189, 0.6);
margin-right: 20px;
}

.price {
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-bottom: 44px;

}

.list {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.button-price {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
padding: 12px 20px;
background: none;
color: #FFFFFF;
display: inline-block;
text-align: center;
}
.button-price:hover,
.button-price:focus {
background: #FF6C00;

}

/* customer */

.section {
background-color: #FFFFFF;
}
.cust-wpapper{
display: flex;
background-color: #FFFFFF;
}

.cusromer-wrapper {
padding-left: 30px;
}
.section .customer-wrapper
{
padding-right: 70px;
width: 50%;
}



.customer-lists {
width: 50%;
padding: 0 100px;
display: flex;
flex-wrap: wrap;
}

.customer {
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.35;
text-align: center;
letter-spacing: 0.05em;
color: #303030;
}

.customer-list {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
color: #303030;

}
.customer-item{
width: 170px;
height: 133px;
padding: 20px 24px;
background-color: rgba(247, 247, 247, 1);}

.customer-item:nth-child(odd) {
margin-right: 30px;

}

.customer-item:nth-child(even) {
margin-top: 30px;
}




.paragraph-customer {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.37;
text-align: center;
color: #FF6C00;
}

.paragraph-customer {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
display: flex;
margin-bottom: 20px;
align-items: center;

}
.paragraph-customer::before {
content: "";
width: 60px;
height: 1px;
background: #303030;
margin-right: 20px;
}

.header-customer{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #303030;
margin-bottom: 20px;
}
.item-customer {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: ;
}

/* barbers */

.svg-link{
display: flex;
}
.icon-list{
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
align-items: center;
margin-top: 30px;
}
.icon__svg{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    text-align: center;
    fill: rgba(48, 48, 48, 1);

}

.icon__svg:hover{
fill: rgba(255, 108, 0, 1);

}
.cocial-link {
width: 44px;
height: 44px;
background: #fff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}
.cocial-link:not(:last-child){
margin-right: 10px;
}


.barbers {
background-color: rgba(247, 247, 247, 1)
;
}
.barber-list{
display: flex;
flex-wrap: wrap;
}
img {
display: block;
}

.barber-item:not(:last-child) {

margin-right: 30px;
}
.barber-item {

margin-top: 20px;
}


.header-barbers {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
display: flex;
align-items: center;
margin-bottom: 20px;
}
.header-barbers::before{
content: "";
width: 60px;
height: 1px;
background: #303030;
margin-right: 20px;

}


.list-barbers{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #303030;
margin-bottom: 44px;
}

.name-barbers {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.38;
text-align: center;
letter-spacing: 0.02em;
color: #303030;
margin-top: 30px;
}

.position {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.35;
text-align: center;
letter-spacing: 0.02em;
color: #FF6C00;
margin-top: 8px;
}

.customer-text{
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
color: #303030;
}
sup {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.37;
text-align: center;
color: #FF6C00;
}
/* portfolio*/



.header-portfolio {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
display: flex;
align-items: center;
margin-bottom: 44px;

}

.header-portfolio::before {

  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;

}

.potfolio-list {
display: flex;

}
.portfolio-image:not(:last-child) {

margin-right: 20px;
}

/* Online-booking Section*/
input.form-item {
    width: 270px;
    height: 24px;
    padding-bottom: 8px;}

.form-item {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    color:  rgba(157, 164, 189, 0.4);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .form-item:hover,
  .form-item:focus {
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  
  }
  .form-item:focus::placeholder {
  color: #fff;}
  .form-item:hover::placeholder {
  color: #fff;}



.online-form {
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .online-form:hover {
  color: rgba(255, 255, 255, 1)
;
  }

.online-form textarea {
    resize: none;
    height: 76px;
    margin-top: 44px;
}
input.form-item{
    width: 270px;
    height: 24px;
    padding-bottom: 8px;
}

textarea.form-item{
width: 100%;

}
.wrap-contacts {
background-color: #191c26;
background-image: url(../images/Bg.png);
background-size: 50%;
background-repeat: no-repeat;
background-position: right;
position: relative;
}
.container {
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;
width: 1200px;
}
.booking-container {
display: flex;
}

.section-booking{
padding: 130px 0 120px;
width: 50%;
}
.section-contact{
padding: 130px 0 120px;
width: 50%;
}

.booking {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-bottom: 44px;
}

.button-send {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
text-align: center;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
border: 1px solid #FF6C00;
border-radius: 25px;
padding: 12px 38px;
background: none;
margin-top: 44px;

}
.button-send:hover {
background:#FF6C00;

}

/* contact section */

.wrap-contact {
margin-left: 100px;
position: relative;
}
.adress-link {
margin-bottom: 20px;
display: flex;
}

.tel-link {
margin-bottom: 20px;
display: flex;
}
.mail-link {
margin-bottom: 70px;
display: flex;
}
.header-contact{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-bottom: 40px;

}

.adress{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;

display: flex;
align-items: center;

}
.adress-icon {
width: 24px;
height: 24px;
margin-right: 25px;

}

.tel {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;

display: flex;
align-items: center;
}

.mail {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
text-decoration-line: underline;
color: #9DA4BD;

display: flex;
align-items: center;
}

.hours {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
display: flex;
align-items: center;
}

.hours::before{
content: "";
width: 60px;
height: 1px;
background: rgba(157, 164, 189, 0.4);
margin-right: 20px;
}

.time {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}

/*footer*/

.copy {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #9DA4BD;
display: flex;
}


.youtube {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
margin-right: 40px;
display: flex;


}

.after-footer {
  display: inline-flex;
  justify-content: end;
  align-items: center;


}

.wrap-footer{
margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
    align-items: center;
    display: flex;
padding-top: 56px;
padding-bottom: 56px;



}

.wrap-footer-after {
padding-top: 56px;
padding-bottom: 56px;
width: 100%;
display: flex;

}
.wrap-after-footer{
display: flex;
margin-left: auto;

}

.after-footer::before {
content: "";
width: 60px;
height: 1px;
background: rgba(48, 48, 48, 1);
display: flex;
margin-right: 40px;

}