html {

    box-sizing: border-box;
}
*,
*::before,
*::after
{
box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.02em;
    background-color: #E5E5E5;
    margin: 0;
}

    img {
    display: block;
    max-width: 100%;
    height: auto;
    }

a {text-decoration: none;
        }
ul {list-style-type: none;

}

ul, h1, h2, h3, p {
margin: 0px;
padding: 0px;
}

:root {
 --brand-color:#555555;
 --secodary-color:#9DA4BD;
}

.container {
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;
width: 1200px;
border: #000000;


}

.section {
padding-top: 120px;
padding-bottom: 120px;
}


/* хедер */

.header-container{
display: flex;
align-items: center;
}
.header {
padding-top: 32px;
position: absolute;
width: 100%;
}
.header-list {
display: flex;

}

.list-head {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: #FFFFFF;
}
.head-list:not(:first-child) {
margin-left: 30px;
}
.tel-header {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;

}

.header-logo {
width: 70px;
    height: 60px;
    fill: rgba(48, 48, 48, 1);
    display: block;
    margin-right: 130px;
}

.button-header{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
margin-right: 20px;
margin-left: 40px;
background: none;
color: #FFFFFF;
padding: 12px 20px;
}

.follow {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
}
.contacts-wrap{
margin-left: auto;


}
.image {
max-width: 1070px;
height: 680px;
    padding-top: px;
    padding-bottom:px;
    margin-left: 315px;
    margin-right: 215px;

    background-image: url(../images/Slider1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

/* hero */
.hero-container {
display: flex;
}

.follow {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
}

h1{
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
display: flex;
text-align: center;

}

.hero-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 1.13;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-top: 20px;
margin-bottom: 20px;
}

.hero-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;

}

.hero-menu {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: right;
letter-spacing: 0.1em;
color: #FFFFFF;
margin-right: 20px;
margin-left: 64px;
}

.hero-social{
width: 100px;
}

.hero-wrapper{
padding: 272px 0 208px 100px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/Slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  
}

.hero-social{
display: inline-flex;
transform: rotate(-90deg);
align-items: center;
bottom:;
}

.hero-menu-but {
display: flex;
justify-content: flex-end;
position: relative;
transform: translateY(159px);
margin-right: 20px;
margin-left: 64px;}



/*about*/
.foto-wrapper {
display: flex;



}
.about-wrapper{
display: flex;
flex-wrap:wrap ;
margin-right: 100px; ;
}
.image-about {
display: block;
margin-right: 20px;
}


.header-about {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
margin-bottom: 20px;
margin-right: 100px;
}

.best {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #303030;
margin-bottom: 20px;
}

.about-first {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 20px;
}

.about-second {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.85;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 42px;
}

.button-booking {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
padding: 12px 20px;
background: none;
color: #303030;

}


/* price */

.list-wrapper {
display: flex;
margin-bottom: 44px;

}

.section-prise{
background-image: linear-gradient( 
rgba(17, 19, 25, 0.4),
      rgba(25, 28, 38, 0.9)), url(../images/img-prise.jpg);
max-width: 1920px;
margin: 0 auto;
background-repeat: no-repeat;
background-size: cover;
padding: 120px 0;


}
.prices-item {
display: flex;
justify-content: space-between;
align-items: baseline;
}

.price-list {
width: calc((100%-30px) / 2);
padding: 30px 20px;

}
.price-list:first-child {
  margin-right: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-header {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
margin-bottom: 20px;

}

.price {
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-bottom: 44px;

}

.list {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.button-price {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
border: 1px solid #FF6C00;
border-radius: 25px;
padding: 12px 20px;
background: none;
color: #FFFFFF;
display: inline-block;
text-align: center;
}

/* customer */

.customer {
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.35;
text-align: center;
letter-spacing: 0.05em;
color: #303030;
}

.customer-list {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
color: #303030;
}

sup {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.37;
text-align: center;
color: #FF6C00;
}

.paragraph-customer {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
}

.header-customer{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #303030;
}
.item-customer {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #555555;
}

/* barbers */

.header-barbers {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;
}

.list-barbers{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #303030;
}

.name-barbers {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.38;
text-align: center;
letter-spacing: 0.02em;
color: #303030;
}

.position {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.35;
text-align: center;
letter-spacing: 0.02em;
color: #FF6C00;
}

/* portfolio*/

.header-portfolio {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #303030;

}


/* Online-booking Section*/


.booking {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
}

.button-send {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
text-align: center;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
border: 1px solid #FF6C00;
border-radius: 25px;
}

/* contact section */

.header-contact{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #FFFFFF;
}

.adress{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}

.tel {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}

.mail {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
text-decoration-line: underline;
color: #9DA4BD;
}

.hours {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: #FFFFFF;
}

.time {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}

/*footer*/

.copy {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #9DA4BD;

}

.youtube {
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;

}